/* Importing Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Common Styles */

body {
    background-color: #252b43;
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: rgb(62, 50, 75);
}

.mb-100px {
    margin-bottom: 100px;
}