/* Importing Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Common Styles */

body {
    background-color: #252b43;
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: rgb(62, 50, 75);
}

.mb-100px {
    margin-bottom: 100px;
}

.plan-price {
    color: rgb(22, 114, 150);
    font-weight: 800;
    font-size: 2rem;
}

#floating-div {
    position: absolute;
    color: white;
    top: -23px;
    right: 8%;
}